* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #cccccc;
  width: 100%;
  height: 100vh;
}

body .menu {
  background-color: #070242;
  width: 20%;
  height: 100vh;
  position: fixed;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

body .menu .back-menu {
  background-color: #00c72c;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 10px;
  left: 4px;
  cursor: pointer;
}

body .menu .user-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 10px;
}

body .menu .user-area .avatar {
  width: 80px;
  height: 80px;
  background-color: #c4c4c4;
  border: 2px solid #000000;
  border-radius: 40px;
  text-align: center;
}

body .menu .user-area h1 {
  font-size: 20px;
}

body .menu .buttons-area .button {
  background-color: #514e6a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  height: 50px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  max-width: 100%;
}

body .menu .buttons-area .button .icon {
  text-align: center;
  background-color: #c4c4c4;
  width: 50px;
  height: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

body .menu .buttons-area .button .icon img {
  margin-top: 5px;
}

body .menu .buttons-area .button h2 {
  font-size: 18px;
  letter-spacing: 2px;
  margin: auto;
}

body .menu .buttons-area .button:hover {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
  -webkit-transition: -webkit-filter 0.4s;
  transition: -webkit-filter 0.4s;
  transition: filter 0.4s;
  transition: filter 0.4s, -webkit-filter 0.4s;
}

body .menu .logout {
  background-color: #b70505;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  height: 50px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  max-width: 100%;
  position: absolute;
  bottom: 0;
}

body .menu .logout .icon {
  text-align: center;
  background-color: #c4c4c4;
  width: 50px;
  height: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

body .menu .logout .icon img {
  margin-top: 5px;
}

body .menu .logout h2 {
  font-size: 18px;
  letter-spacing: 2px;
  margin: auto;
}

body .menu .logout:hover {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
  -webkit-transition: -webkit-filter 0.4s;
  transition: -webkit-filter 0.4s;
  transition: filter 0.4s;
  transition: filter 0.4s, -webkit-filter 0.4s;
}

@media screen and (max-width: 930px) {
  body .menu {
    position: initial;
  }
  body .menu .user-area {
    display: none;
  }
  body .menu .buttons-area .button {
    display: initial;
  }
  body .menu .buttons-area .button h2 {
    display: none;
  }
  body .menu .buttons-area .button .icon {
    border-radius: 10px;
    background-color: #7e79a5;
  }
  body .menu .buttons-area .button .icon:hover {
    -webkit-filter: brightness(2);
            filter: brightness(2);
    -webkit-transition: -webkit-filter 0.4s;
    transition: -webkit-filter 0.4s;
    transition: filter 0.4s;
    transition: filter 0.4s, -webkit-filter 0.4s;
  }
  body .menu .logout {
    position: unset;
    width: 50px;
  }
  body .menu .logout h2 {
    display: none;
  }
  body .menu .logout .icon {
    border-radius: 10px;
    background-color: #b70505;
  }
}

@media screen and (max-width: 298px) {
  body .menu {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */