* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: #CCCCCC;
    width: 100%;
    height: 100vh;

    navbar{
        background-color: #070242;
        width: 20%;
        height: 100vh;
        position: fixed;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top-right-radius:10px;
        border-bottom-right-radius: 10px;

        .back-menu{
            background-color: #00C72C;
            width: 40px;
            height: 40px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 10px;
            left: 10px; 
            cursor: pointer;           
            @include brightness();

        }

        .user-area{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 10px;
            .avatar{
                width: 80px;
                height: 80px;
                background-color: #C4C4C4;
                border: 2px solid #000000;
                border-radius: 40px;
                text-align: center;
            }
            
            h1{
                font-size: 20px;
            }
        }
        @mixin button($bgButton: #514E6A){
            background-color: $bgButton;
            display: flex;
            width: 180px;
            height: 50px;
            margin: 20px;
            border-radius: 10px;
            cursor: pointer;

            .icon {
                text-align: center;
                background-color: #C4C4C4;
                width: 50px;
                height: 50px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                img{
                    margin-top: 5px;
                }
            }

            h2{
                font-size: 18px;
                letter-spacing: 2px;
                margin: auto;
            }
        }
        @mixin brightness(){
            &:hover{
                filter: brightness(1.4);
                transition: filter .4s;
            }
        }
        .buttons-area{
            .button{
                @include button();
               @include brightness();
            }
        }
        .logout{
            @include button($bgButton: #B70505);
            @include brightness();
            position: absolute;
            bottom: 0px;
        }
    }
}
